In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.chdir('/content/drive/MyDrive/碩一下/Machine Learning/Homework_4') 
os.listdir()

['ieee-fraud-detection', 'Kaggle_4.ipynb', '0001.model']

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import TimeSeriesSplit, KFold
from sklearn.ensemble import RandomForestClassifier
import time
import xgboost as xgb
import warnings
import pickle

In [4]:
train_id = pd.read_csv('ieee-fraud-detection/train_identity.csv')
train_tr = pd.read_csv('ieee-fraud-detection/train_transaction.csv')
test_id = pd.read_csv('ieee-fraud-detection/test_identity.csv')
test_tr = pd.read_csv('ieee-fraud-detection/test_transaction.csv')

In [5]:
print(train_id.info())
print(train_tr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB
None

In [6]:
train_id.head(2)

   TransactionID  id_01  ...  DeviceType                     DeviceInfo
0        2987004    0.0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M
1        2987008   -5.0  ...      mobile                     iOS Device

[2 rows x 41 columns]

In [7]:
train_tr.head(2)

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN

[2 rows x 394 columns]

In [8]:
# 合併檔案
train = pd.merge(train_tr, train_id, how='left', 
                 on='TransactionID', left_index=True, 
                right_index=True)

In [9]:
test = pd.merge(test_tr, test_id, how='left',
               on='TransactionID', left_index=True,
               right_index=True)

In [10]:
print(train.shape)
print(test.shape)

(590540, 434)
(506691, 433)

In [11]:
train.describe()

       TransactionID        isFraud  ...        id_26         id_32
count   5.905400e+05  590540.000000  ...  5163.000000  77586.000000
mean    3.282270e+06       0.034990  ...   149.070308     26.508597
std     1.704744e+05       0.183755  ...    32.101995      3.737502
min     2.987000e+06       0.000000  ...   100.000000      0.000000
25%     3.134635e+06       0.000000  ...   119.000000     24.000000
50%     3.282270e+06       0.000000  ...   149.000000     24.000000
75%     3.429904e+06       0.000000  ...   169.000000     32.000000
max     3.577539e+06       1.000000  ...   216.000000     32.000000

[8 rows x 403 columns]

In [12]:
test.describe()

       TransactionID  TransactionDT  ...        id-26         id-32
count   5.066910e+05   5.066910e+05  ...  5047.000000  70671.000000
mean    3.916894e+06   2.692994e+07  ...   152.752923     26.217939
std     1.462692e+05   4.756507e+06  ...    31.916995      3.601046
min     3.663549e+06   1.840322e+07  ...   100.000000      8.000000
25%     3.790222e+06   2.277154e+07  ...   137.000000     24.000000
50%     3.916894e+06   2.720466e+07  ...   147.000000     24.000000
75%     4.043566e+06   3.134856e+07  ...   182.000000     32.000000
max     4.170239e+06   3.421434e+07  ...   216.000000     48.000000

[8 rows x 402 columns]

In [13]:
target = train['isFraud']
target

0         0
1         0
2         0
3         0
4         0
         ..
590535    0
590536    0
590537    0
590538    0
590539    0
Name: isFraud, Length: 590540, dtype: int64

In [14]:
# 看看train和test有哪些不同的columns
def differentcolumns(traincols, testcols):
    for i in traincols:
        if i not in testcols:
            print(i)
differentcolumns(train.columns, test.columns)

isFraud
id_01
id_02
id_03
id_04
id_05
id_06
id_07
id_08
id_09
id_10
id_11
id_12
id_13
id_14
id_15
id_16
id_17
id_18
id_19
id_20
id_21
id_22
id_23
id_24
id_25
id_26
id_27
id_28
id_29
id_30
id_31
id_32
id_33
id_34
id_35
id_36
id_37
id_38

In [15]:
# 把test中的 - 改成 _ 讓columns一致
test = test.rename(columns={"id-01": "id_01", "id-02": "id_02", "id-03": "id_03", 
                            "id-06": "id_06", "id-05": "id_05", "id-04": "id_04", 
                            "id-07": "id_07", "id-08": "id_08", "id-09": "id_09", 
                            "id-10": "id_10", "id-11": "id_11", "id-12": "id_12", 
                            "id-15": "id_15", "id-14": "id_14", "id-13": "id_13", 
                            "id-16": "id_16", "id-17": "id_17", "id-18": "id_18", 
                            "id-21": "id_21", "id-20": "id_20", "id-19": "id_19", 
                            "id-22": "id_22", "id-23": "id_23", "id-24": "id_24", 
                            "id-27": "id_27", "id-26": "id_26", "id-25": "id_25", 
                            "id-28": "id_28", "id-29": "id_29", "id-30": "id_30", 
                            "id-31": "id_31", "id-32": "id_32", "id-33": "id_33", 
                            "id-34": "id_34", "id-35": "id_35", "id-36": "id_36", 
                            "id-37": "id_37", "id-38": "id_38"})
test.head()

   TransactionID  TransactionDT  ...  DeviceType                   DeviceInfo
0        3663549       18403224  ...      mobile  MYA-L13 Build/HUAWEIMYA-L13
1        3663550       18403263  ...      mobile         LGLS676 Build/MXB48T
2        3663551       18403310  ...     desktop                  Trident/7.0
3        3663552       18403310  ...      mobile  MYA-L13 Build/HUAWEIMYA-L13
4        3663553       18403317  ...      mobile         SM-G9650 Build/R16NW

[5 rows x 433 columns]

miss value 處理

In [16]:
train.isnull().sum().sum()

115523073

In [17]:
train.isnull().count()

TransactionID     590540
isFraud           590540
TransactionDT     590540
TransactionAmt    590540
ProductCD         590540
                   ...
id_36             590540
id_37             590540
id_38             590540
DeviceType        590540
DeviceInfo        590540
Length: 434, dtype: int64

In [18]:
def getnulls(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum() / data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['total', 'precent'])
    return missing_data

In [19]:
# Train Data Missing Values
missing_data_train = getnulls(train)
missing_data_train.head(350).T

                 id_24         id_25  ...        V108        V107
total    585793.000000  585408.00000  ...  314.000000  314.000000
precent       0.991962       0.99131  ...    0.000532    0.000532

[2 rows x 350 columns]

In [20]:
# Test Data Missing Values
missing_data_test = getnulls(test)
missing_data_test .head(350).T

                 id_24          id_25  ...      V294      V285
total    501951.000000  501652.000000  ...  3.000000  3.000000
precent       0.990645       0.990055  ...  0.000006  0.000006

[2 rows x 350 columns]

In [21]:
# Get the columns that we have to drop
# 把missing data佔太多的columns刪掉
droppedcols = missing_data_train[missing_data_train['total'] > 100000].index
droppedcols

Index(['id_24', 'id_25', 'id_07', 'id_08', 'id_21', 'id_26', 'id_22', 'id_23',
       'id_27', 'dist2',
       ...
       'V43', 'V49', 'V41', 'V40', 'V39', 'V38', 'V37', 'V36', 'V35', 'D4'],
      dtype='object', length=252)

In [22]:
# Drop the columns
train.drop(droppedcols, axis=1, inplace=True)
test.drop(droppedcols, axis=1, inplace=True)

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 182 entries, TransactionID to V321
dtypes: float64(174), int64(4), object(4)
memory usage: 820.0+ MB

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 181 entries, TransactionID to V321
dtypes: float64(174), int64(3), object(4)
memory usage: 699.7+ MB

In [25]:
print(train.shape)
print(test.shape)

(590540, 182)
(506691, 181)

In [26]:
# 看看現在missing data的狀況
missing_data_train = getnulls(train)
missing_data_train.head(200).T

         P_emaildomain           V89           V75  ...  C13  C14  TransactionID
total     94456.000000  89164.000000  89164.000000  ...  0.0  0.0            0.0
precent       0.159949      0.150987      0.150987  ...  0.0  0.0            0.0

[2 rows x 182 columns]

In [27]:
missing_data_test = getnulls(test)
missing_data_test.head(200).T

         P_emaildomain         addr2         addr1  ...  V117  V116  TransactionID
total     69192.000000  65609.000000  65609.000000  ...   0.0   0.0            0.0
precent       0.136557      0.129485      0.129485  ...   0.0   0.0            0.0

[2 rows x 181 columns]

In [28]:
# 看看emaildomain
train['P_emaildomain']

0                 NaN
1           gmail.com
2         outlook.com
3           yahoo.com
4           gmail.com
             ...
590535            NaN
590536      gmail.com
590537      gmail.com
590538        aol.com
590539      gmail.com
Name: P_emaildomain, Length: 590540, dtype: object

In [29]:
train['P_emaildomain'].value_counts()

gmail.com           228355
yahoo.com           100934
hotmail.com          45250
anonymous.com        36998
aol.com              28289
comcast.net           7888
icloud.com            6267
outlook.com           5096
msn.com               4092
att.net               4033
live.com              3041
sbcglobal.net         2970
verizon.net           2705
ymail.com             2396
bellsouth.net         1909
yahoo.com.mx          1543
me.com                1522
cox.net               1393
optonline.net         1011
charter.net            816
live.com.mx            749
rocketmail.com         664
mail.com               559
earthlink.net          514
gmail                  496
outlook.es             438
mac.com                436
juno.com               322
aim.com                315
hotmail.es             305
windstream.net         305
roadrunner.com         305
hotmail.fr             295
frontier.com           280
embarqmail.com         260
web.de                 240
twc.com                230
netzero.com            230
prodigy.net.mx         207
centurylink.net        205
netzero.net            196
frontiernet.net        195
q.com                  189
suddenlink.net         175
cfl.rr.com             172
sc.rr.com              164
cableone.net           159
gmx.de                 149
yahoo.fr               143
yahoo.es               134
hotmail.co.uk          112
protonmail.com          76
yahoo.de                74
ptd.net                 68
live.fr                 56
yahoo.co.uk             49
hotmail.de              43
servicios-ta.com        35
yahoo.co.jp             32
Name: P_emaildomain, dtype: int64

In [30]:
target.value_counts()

0    569877
1     20663
Name: isFraud, dtype: int64

In [31]:
# 數看看mail有沒有特殊的型態
cntgmail = 0
cntyahoo = 0
cnthotmail = 0
cntanon = 0
cntaol = 0
for i in range(train.shape[0]):
    if train['P_emaildomain'][i] == 'gmail.com' and train['isFraud'][i] == 1:
        cntgmail += 1
    elif train['P_emaildomain'][i] == 'yahoo.com' and train['isFraud'][i] == 1:
        cntyahoo += 1
    elif train['P_emaildomain'][i] == 'hotmail.com' and train['isFraud'][i] == 1:
        cnthotmail += 1
    elif train['P_emaildomain'][i] == 'anonymous.com' and train['isFraud'][i] == 1:
        cntanon += 1
    elif train['P_emaildomain'][i] == 'aol.com' and train['isFraud'][i] == 1:
        cntaol += 1
    
print("GMAIL:", cntgmail)
print("YAHOO:", cntyahoo)
print("HOTMAIL:", cnthotmail)
print("ANON:", cntanon)
print("AOL:", cntaol)

GMAIL: 9943
YAHOO: 2297
HOTMAIL: 2396
ANON: 859
AOL: 617

In [32]:
# 好像沒有什麼特殊的，所以先drop這一行
train.drop(['P_emaildomain'], axis=1, inplace=True)
test.drop(['P_emaildomain'], axis=1, inplace=True)

In [33]:
print(train.shape)
print(test.shape)

(590540, 181)
(506691, 180)

In [34]:
missing_data_train = getnulls(train)
missing_data_train.head(100).T

                  V90           V84  ...        V124        V125
total    89164.000000  89164.000000  ...  314.000000  314.000000
precent      0.150987      0.150987  ...    0.000532    0.000532

[2 rows x 100 columns]

In [35]:
missing_data_test = getnulls(test)
missing_data_test.head(100).T

                addr2         addr1           V63  ...       C12       C14        C8
total    65609.000000  65609.000000  12899.000000  ...  3.000000  3.000000  3.000000
precent      0.129485      0.129485      0.025457  ...  0.000006  0.000006  0.000006

[2 rows x 100 columns]

In [36]:
train.head()

   TransactionID  isFraud  TransactionDT  ...  V319 V320  V321
0        2987000        0          86400  ...   0.0  0.0   0.0
1        2987001        0          86401  ...   0.0  0.0   0.0
2        2987002        0          86469  ...   0.0  0.0   0.0
3        2987003        0          86499  ...   0.0  0.0   0.0
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 181 columns]

We can not figure out some pattern in this floating number columns cuz it has no meaning for us, so let's get rid of some of them and replace the nulls at others.

In [37]:
droppedcols = missing_data_train[missing_data_train['total'] > 15000].index

In [38]:
train.drop(droppedcols, axis=1, inplace=True)
test.drop(droppedcols, axis=1, inplace=True)
print(train.shape)
print(test.shape)

(590540, 112)
(506691, 111)

In [39]:
differentcolumns(train.columns, test.columns)

isFraud

In [40]:
missing_data_train = getnulls(train)
missing_data_train.head(100).T

               card2        card5       card4  ...  isFraud   C1   C6
total    8933.000000  4259.000000  1577.00000  ...      0.0  0.0  0.0
precent     0.015127     0.007212     0.00267  ...      0.0  0.0  0.0

[2 rows x 100 columns]

In [41]:
missing_data_test = getnulls(test)
missing_data_test.head(100).T

               card2         V283         V314  ...  V118  V117  V116
total    8654.000000  6031.000000  6031.000000  ...   0.0   0.0   0.0
precent     0.017079     0.011903     0.011903  ...   0.0   0.0   0.0

[2 rows x 100 columns]

Concatinating all data to fill the null values with the mean and mode

In [42]:
ntrain = train.shape[0]
ntest = test.shape[0]
all_data = pd.concat([train, test], axis=0, sort=False)
all_data.shape

(1097231, 112)

In [43]:
ntrain + ntest

1097231

In [44]:
# 填入missing values(object)
all_data_cols = all_data.columns
for i in all_data_cols:
    if all_data[i].dtype == 'object':
        all_data[i] = all_data[i].fillna(all_data[i].mode()[0])

In [45]:
missing_data = getnulls(all_data)
missing_data.head(110).T

               isFraud         card2  ...  ProductCD  TransactionAmt
total    506691.000000  17587.000000  ...        0.0             0.0
precent       0.461791      0.016029  ...        0.0             0.0

[2 rows x 110 columns]

In [46]:
all_data.head()

   TransactionID  isFraud  TransactionDT  ...  V319 V320  V321
0        2987000      0.0          86400  ...   0.0  0.0   0.0
1        2987001      0.0          86401  ...   0.0  0.0   0.0
2        2987002      0.0          86469  ...   0.0  0.0   0.0
3        2987003      0.0          86499  ...   0.0  0.0   0.0
4        2987004      0.0          86506  ...   0.0  0.0   0.0

[5 rows x 112 columns]

In [47]:
# 填入missing values / 看看填完還有哪些missing values
for i in all_data_cols:
    if (i.startswith("C") or (i.startswith("V"))) and all_data[i].isnull().sum() > 0:
        all_data[i] = all_data[i].fillna(all_data[i].mode()[0])
missing_data = getnulls(all_data)
missing_data.head(10).T

               isFraud         card2        card5  ...  V107  V106  V105
total    506691.000000  17587.000000  8806.000000  ...   0.0   0.0   0.0
precent       0.461791      0.016029     0.008026  ...   0.0   0.0   0.0

[2 rows x 10 columns]

In [48]:
all_data['card3'].value_counts()

150.0    956845
185.0    109960
106.0      3543
117.0      2841
144.0      2633
          ...
172.0         1
221.0         1
178.0         1
139.0         1
232.0         1
Name: card3, Length: 133, dtype: int64

In [49]:
all_data['D1'].value_counts()

0.0      507854
1.0       16887
2.0        9974
3.0        8038
4.0        6965
          ...
557.0       278
593.0       276
591.0       273
640.0        67
641.0         1
Name: D1, Length: 642, dtype: int64

In [50]:
all_data['D1'] = all_data['D1'].fillna(all_data['D1'].mode()[0])
all_data['card3'] = all_data['card3'].fillna(all_data['card3'].mean())

In [51]:
all_data['card2'].value_counts()

321.0    91731
111.0    82537
555.0    80404
490.0    70496
583.0    41503
         ...
293.0      126
419.0      126
121.0      126
552.0      125
487.0      123
Name: card2, Length: 501, dtype: int64

In [52]:
all_data['card2'] = all_data['card2'].fillna(all_data['card2'].mean())

In [53]:
missing_data = getnulls(all_data)
missing_data.head(5).T

               isFraud        card5  V321  V110  V99
total    506691.000000  8806.000000   0.0   0.0  0.0
precent       0.461791     0.008026   0.0   0.0  0.0

In [54]:
all_data['card5'].value_counts()

226.0    553537
224.0    153109
166.0    102930
102.0     49491
117.0     47061
          ...
221.0         1
175.0         1
208.0         1
124.0         1
209.0         1
Name: card5, Length: 138, dtype: int64

In [55]:
all_data['card5'] = all_data['card5'].fillna(all_data['card5'].mean())

In [56]:
missing_data = getnulls(all_data)
missing_data.head(5).T

               isFraud  V321  V110  V99  V100
total    506691.000000   0.0   0.0  0.0   0.0
precent       0.461791   0.0   0.0  0.0   0.0

In [57]:
print(ntrain)
print(ntest)
print(ntrain+ntest)
print(all_data.shape)

590540
506691
1097231
(1097231, 112)

In [58]:
# Split the data again
train = all_data[:ntrain]
test = all_data[ntrain:]

In [59]:
# Encoding the data
all_data = pd.get_dummies(all_data)
print(all_data.shape)
all_data.head()

(1097231, 122)

   TransactionID  isFraud  ...  card6_debit  card6_debit or credit
0        2987000      0.0  ...            0                      0
1        2987001      0.0  ...            0                      0
2        2987002      0.0  ...            1                      0
3        2987003      0.0  ...            1                      0
4        2987004      0.0  ...            0                      0

[5 rows x 122 columns]

In [60]:
# Split the data again and get ready for training
train = all_data[:ntrain]
test = all_data[ntrain:]
train.drop(['TransactionID'], axis=1, inplace=True)
# test_id = test['TransactionID']
# test.drop(['TransactionID'], axis=1, inplace=True)
print(train.shape)
print(test.shape)

(590540, 121)
(506691, 122)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [61]:
train.head(2)

   isFraud  TransactionDT  ...  card6_debit  card6_debit or credit
0      0.0          86400  ...            0                      0
1      0.0          86401  ...            0                      0

[2 rows x 121 columns]

In [62]:
test.head(2)

   TransactionID  isFraud  ...  card6_debit  card6_debit or credit
0        3663549      NaN  ...            1                      0
1        3663550      NaN  ...            1                      0

[2 rows x 122 columns]

In [63]:
target

0         0
1         0
2         0
3         0
4         0
         ..
590535    0
590536    0
590537    0
590538    0
590539    0
Name: isFraud, Length: 590540, dtype: int64

In [64]:
train.drop(['isFraud'], axis=1, inplace=True)
test.drop(['isFraud'], axis=1, inplace=True)
print(train.shape)
print(test.shape)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(590540, 120)
(506691, 121)

In [65]:
train.to_csv("ieee-fraud-detection/train.csv",index=False)
target.to_csv("ieee-fraud-detection/target.csv",index=False)
test.to_csv("ieee-fraud-detection/test.csv",index=False)

## 從這邊重新開始

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
os.chdir('/content/drive/MyDrive/碩一下/Machine Learning/Homework_4') 
os.listdir()

['ieee-fraud-detection', 'Kaggle_4.ipynb', '0001.model']

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import TimeSeriesSplit, KFold
from sklearn.ensemble import RandomForestClassifier
import time
import xgboost as xgb

In [4]:
train=pd.read_csv("ieee-fraud-detection/train.csv")
target=pd.read_csv("ieee-fraud-detection/target.csv")
test=pd.read_csv("ieee-fraud-detection/test.csv")

In [5]:
test_id = test['TransactionID']
test.drop(['TransactionID'], axis=1, inplace=True)

In [11]:
# XGBOOST
xgmodel = xgb.XGBClassifier(learning_rate=0.1, max_depth=16, 
                        n_estimators=200, random_state =13)

In [12]:
xgmodel.fit(train, target)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=16,
              min_child_weight=1, missing=None, n_estimators=200, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=13,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [13]:
y_pred_xg = xgmodel.predict_proba(test)

In [14]:
y_pred_xg

array([[9.9976867e-01, 2.3135111e-04],
       [9.9948835e-01, 5.1163253e-04],
       [9.9935430e-01, 6.4568064e-04],
       ...,
       [9.9453098e-01, 5.4690023e-03],
       [9.9705267e-01, 2.9473214e-03],
       [9.9549848e-01, 4.5015113e-03]], dtype=float32)

In [15]:
sub = pd.DataFrame()
sub['TransactionID'] = test_id
sub['isFraud'] = y_pred_xg[:, 1]
sub.to_csv('answer.csv', index=False)

![image.png]()

參考自：https://www.kaggle.com/kickitlikeshika/fraud-detection-with-92-acc